.setting-layout {
    display: grid;
    grid-template-columns: 20% 80%;
}


.sidebar li a {
    text-decoration: none;
    font-size: 1.5vw;
    color: rgb(20, 19, 19);
}

.sidebar li {
    list-style-type: none;
    margin-top: 2%;
}

.sidebar li a:hover {
    color: orange;
}